
<br></br>
<h1>Main Page for Squadron Six</h1>
<% if isadmin %>
  <h1>I am a Admin</h1>
<% else %>
  <h1>Not Admin</h1>
<% end %>


<% if current_authuser %>
<h2><%= current_authuser.email %></h2>


<%= image_tag(current_authuser.avatar_url) %>
<%# <%= link_to "Edit Account", edit_authuser_registration_path %>
<div class="oauth">
  <%= button_to "Logout", destroy_authuser_session_path, data: {turbo: "false"}, method: :delete %>
  <% else %>
  <h2><%= link_to "Login", new_authuser_session_path %><\h2>
  <%# <%= link_to "Create Account", new_authuser_registration_path %>
  <% end %>
</div>
