
<br></br>
<h1>Main Page for Squadron Six</h1>




<% if current_authuser %>
<h2><%= current_authuser.email %></h2>
<%= image_tag(current_authuser.avatar_url) %>
<%# <%= link_to "Edit Account", edit_authuser_registration_path %> 
<%= button_to "Logout", destroy_authuser_session_path, data: {turbo: "false"}, method: :delete %>
<% else %>
<%= link_to "Login", new_authuser_session_path %>
<%= link_to "Create Account", new_authuser_registration_path %>
<% end %>