<div id="<%= dom_id alumni %>">
<div class = "newEntry" style = "text-align: left; width: 25%;">
  <p><b><center>SHOWING THIS ALUMNI</center></b></p>
  <p>
    <strong>Name:</strong>
    <%= alumni.user.user_fname%>
    <%= alumni.user.user_lname%>
  </p>
  <p>
    <strong>Company Name:</strong>
    <%= alumni.company.company_name%>
  </p>
  <p>
    <strong>Company Location:</strong>
    <%= alumni.company.company_location%>
  </p>
  <p>
    <strong>Contact email:</strong>
    <%= alumni.user.user_email%>
  </p>
  <br></br>
  <div style = "margin-left: auto; margin-right: auto; text-align: center;">
    <%= button_to "Edit", edit_alumni_path(@alumni), method: :get, class: "show-btn", style: "margin-bottom: 10px; font-size: 12px;" %>
    <%= button_to "Delete", @alumni, method: :delete, class: "show-btn", style: "font-size: 12px;" %>
  </div>
</div>
</div>
