
<div id="<%= dom_id alumni %>" style="border:black; border-width:3px; border-style:solid;">
  
  <p>
    <strong style="margin-left: 5em">Id:</strong>
    <%= alumni.ID %>
    <strong style="margin-left: 5em">First name:</strong>
    <%= alumni.first_name %>
    <strong style="margin-left: 5em">Last name:</strong>
    <%= alumni.last_name %>
    <strong style="margin-left: 5em">Email:</strong>
    <%= alumni.email %>
    <strong style="margin-left: 5em">Graduation year:</strong>
    <%= alumni.graduation_year %>
    <strong style="margin-left: 5em">Company:</strong>
    <%= alumni.company %>
  </p>

</div>
