<%= form_with(model: alumni) do |form| %>
  <% if alumni.errors.any? %>
  <div class = "error">
      <h2><%= pluralize(alumni.errors.count, "error") %> prohibited this alumni from being saved:</h2>

      <ul>
        <% alumni.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <!--added drop down for selecting the company from the list of added company-->
  <div>

    <%= form.label :company_id, style: "display: block" %>
    <%# <!-- <%= form.select :company_id, options_for_select(Company.all.map{ |c| [c.company_name] }), {}, style: "height: 30px; background-color: rgb(200, 209, 244);" %>
    <!-- switching how selection works: -->
    <%= form.collection_select :company_id, Company.order(:company_name), :id, :company_name, include_blank: false%>
  </div>
  <!--added drop down for selecting the user from a list of added users-->
  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%# <!--<%= form.select :user_id, options_for_select(User.all.map{ |u| [u.user_email] }), {}, style: "height: 30px; background-color: rgb(200, 209, 244);" %>
    <!-- switching how selection works: -->
<<<<<<< HEAD
    <%= form.collection_select :user_id, User.order(:user_email), :id, :user_lname, include_blank: false%>
=======
    <%= form.collection_select :user_id, User.order(:user_email), :id, :user_email, include_blank: false%>
>>>>>>> main
  </div>

  <div>
    <%= form.submit %>
  </div>
  </div>
<% end %>
