<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag('application') %>
<br></br>
<h1>Alumnis</h1>

<div id="alumnis">
<table>
  <tr>
    <th><strong>Company name</strong></th>
    <th><strong>Alumni Name</strong></th>
    <th><strong>Graduation year</strong></th>
    <th></th>
  </tr>
  <% @alumnis.each do |alumni| %>
    <tr>
      <td><%= alumni.company.company_name %></td>
      <td><%= alumni.user.user_fname %>&nbsp<%= alumni.user.user_lname %></td>
      <td><%= alumni.user.user_grad_year %></td>
      <td><%= link_to "Details about this Alumni", alumni %></td>
      <% end %>
    </tr>
</table>
</div>

<div class = "newRecord">
  <% if isadmin%>
    <%= button_to "New Alumni", new_alumni_path, method: :get, class: "new-and-back-btn" %>
  <%end%>
</div>
