<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag('application') %>
<br></br>
<h1>Alumnis</h1>

<div id="alumnis">
  <% @alumnis.each do |alumni| %>
    <tr>
      <td><%= alumni.company_name %></td>
      <td><%= alumni.user_email %></td>
      <td><%= link_to "Show this alumni", alumni %></td>
      <% end %>
    </tr>
</table>
</div>

<%= link_to "New alumni", new_alumni_path %>
