<p class="notice"><%= notice %></p>
<%= stylesheet_link_tag('application') %>

<div class="const">
  <h1>Alumni</h1>
</div>
<br>
<div id="alumnis">
<!-- search function-->
<!-- currently accepts only the first name of the alumni and takes you to the editing page-->
<center>
  <div class="search">
    <%= form_tag(alumnis_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search], placeholder: 'Search for an alumni by name', class: 'searchbar')%> <%= submit_tag ("Search"), class: "submit" %>
    <% end %>
  </div>
</center>
<br></br>
<table>
  <tr>
    <th><strong>Company name</strong></th>
    <th><strong>Alumni Name</strong></th>
    <th><strong>Graduation year</strong></th>
    <th></th>
  </tr>
  <% @alumnis.each do |alumni| %>
    <tr>
      <td><%= alumni.company.company_name %></td>
      <td><%= alumni.user.user_fname %>&nbsp<%= alumni.user.user_lname %></td>
      <td><%= alumni.user.user_grad_year %></td>
      <td><%= button_to "SHOW", alumni, method: :get, class: "show-btn" %></td>
      <% end %>
    </tr>
</table>
</div>

<div class = "newRecord">
  <% if isadmin%>
    <%= button_to "New Alumni", new_alumni_path, method: :get, class: "new-and-back-btn" %>
  <%end%>
</div>
