<p class="notice"><%= notice %></p>
<div class="const">
  <h1>Alumni Details</h1>
</div>

<%= render @alumni %>

<div class = "edit-and-back-div">
  <% if isadmin%>
    <%= link_to "Edit this alumni", edit_alumni_path(@alumni) %>
  <%end%>
  <%= link_to "Back to alumnis", alumnis_path %>
  <% if isadmin%>
    <%= button_to "Destroy this alumni", @alumni, method: :delete %>
  <%end%>
</div>
