<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
  <div class = "error">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class = "newEntry">
  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :user_fname, id: "text-field-vals" %> 
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :user_lname, id: "text-field-vals" %> 
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :user_email, id: "text-field-vals" %> 
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :user_password, id: "text-field-vals" %> 
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.text_field :user_role, id: "text-field-vals" %> 
  </div>

  <div>
    <%= form.label :grad_year, style: "display: block" %>
    <%= form.date_field :user_grad_year, id: "text-field-vals" %> 
  </div>

  <div>
    <%= form.label :points, style: "display: block" %>
    <%= form.number_field :user_points, id: "text-field-vals" %> 
  </div>

  <div>
    <%= form.submit %>
  </div>
</div>

<% end %>
