<div id="<%= dom_id user %>">
<br></br>
<div class = "newEntry" style = "text-align: left; width: 25%;">
  <p><b><center>SHOWING THIS USER</center></b></p>
  <br></br>
  <p>
    <strong>First Name:</strong>
    <%= user.user_fname %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= user.user_lname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.user_email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.user_password %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.user_role %>
  </p>

  <p>
    <strong>Grad Year:</strong>
    <%= user.user_grad_year %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= user.user_points %>
  </p>
  <br></br>
  <div style = "margin-left: auto; margin-right: auto; text-align: center;">
    <%= button_to "EDIT", edit_user_path(@user), method: :get, class: "show-btn", style: "margin-bottom: 10px; font-size: 12px;" %>
    <% if isadmin%>
      <%= button_to "DELETE", @user, method: :delete, class: "show-btn", style: "font-size: 12px;" %>
    <%end%>
  </div>
</div>
</div>

