<div id="<%= dom_id user %>">
<<<<<<< HEAD
=======
<br></br>
<div class = "newEntry" style = "text-align: left; width: 25%;">
  <p><b><center>SHOWING THIS USER</center></b></p>
  <br></br>
>>>>>>> 3d282af (changed the frontend colors and added an additional test case for user)
  <p>
    <strong>User fname:</strong>
    <%= user.user_fname %>
  </p>

  <p>
    <strong>User lname:</strong>
    <%= user.user_lname %>
  </p>

  <p>
    <strong>User email:</strong>
    <%= user.user_email %>
  </p>

  <p>
    <strong>User password:</strong>
    <%= user.user_password %>
  </p>

  <p>
    <strong>User role:</strong>
    <%= user.user_role %>
  </p>

  <p>
    <strong>User grad year:</strong>
    <%= user.user_grad_year %>
  </p>

  <p>
    <strong>User points:</strong>
    <%= user.user_points %>
  </p>
<<<<<<< HEAD
=======
  <br></br>
  <div style = "margin-left: auto; margin-right: auto; text-align: center;">
    <%= button_to "EDIT", edit_user_path(@user), method: :get, class: "show-btn", style: "margin-bottom: 10px; font-size: 12px;" %>
    <%= button_to "DELETE", @user, method: :delete, class: "show-btn", style: "font-size: 12px;" %>
  </div>
</div>
</div>
>>>>>>> 3d282af (changed the frontend colors and added an additional test case for user)

</div>
