<p class="notice"><%= notice %></p>
<%= stylesheet_link_tag('application') %>

<div class="const">
  <h1>Directory</h1>
</div>

<div id="users">
<table>
  <tr>
    <th><strong>First Name</strong></th>
    <th><strong>Last Name</strong></th>
    <th><strong>Email</strong></th>
    #<th><strong>Password</strong></th>
    <th><strong>Role</strong></th>
    <th><strong>Grad Year</strong></th>
    <th><strong>Points</strong></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.user_fname %></td>
      <td><%= user.user_lname %></td>
      <td><%= user.user_email %></td>

      <%# <><%= user.user_password %> 
      <%# <><%= user.user_role %>
      <%# <><%= user.user_grad_year %>

      <td><%= user.user_points %></td>
      <td><%= button_to "SHOW", user, method: :get, class: "show-btn" %></td>
      <% end %>
    </tr>
</table>
</div>

<div class = "newRecord">
  <% if isadmin%> 
    <%= button_to "New User", new_user_path, method: :get, class: "new-and-back-btn"%>
  <%end%> 
  
</div>
