<p style="color: green"><%= notice %></p>
<br><br><br><br>
<h1>Admin Users</h1>

<div id="adminusers">
  <% @adminusers.each do |adminuser| %>
    <%= render adminuser %>
    <p>
      <%= link_to "Show this admin user", adminuser %>
    </p>
  <% end %>
</div>

<%= link_to "New admin user", new_adminuser_path %>
<%= link_to 'Help', '/admin_help' %>