<div id="<%= dom_id company %>">
  <div class = "newEntry" style = "text-align: left; width: 25%;">
    <p><b><center>SHOWING THIS COMPANY</center></b></p>
    <p>
      <strong>Name:</strong>
      <%= company.company_name%>
    </p>

    <p>
      <strong>Location:</strong>
      <%= company.company_location%>
    </p>

    <p>
      <strong>Industry:</strong>
      <%= company.company_industry%>
    </p>
  <br></br>
  <div style = "margin-left: auto; margin-right: auto; text-align: center;">
    <%= button_to "Edit", edit_company_path(@company), method: :get, class: "show-btn", style: "margin-bottom: 10px; font-size: 12px;" %>
    <%= button_to "Delete", @company, method: :delete, class: "show-btn", style: "font-size: 12px;" %>
  </div>
</div>
</div>
