<p class="notice"><%= notice %></p>
<%= stylesheet_link_tag('application') %>

<div class="const">
  <h1>Companies</h1>
</div>

<center>
  <%= form_tag(companies_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search], placeholder: 'Search for a company by name', class: 'text-field-tag')%> <%= submit_tag ("Search"), style: "height: 30px" %></p>
  <% end %>
</center>

<br></br>

<div id="companies">
<table>
  <tr>
    <th><strong>Name</strong></th>
    <th><strong>Location</strong></th>
    <th><strong>Industry</strong></th>
    <th></th>
  </tr>
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.company_name %></td>
      <td><%= company.company_location %></td>
      <td><%= company.company_industry %></td>
      <td><%= button_to "SHOW", company, method: :get, class: "show-btn" %></td>
      <% end %>
    </tr>
</table>

<div class = "newRecord">
  <%= button_to "New Company", new_company_path, method: :get, class: "new-and-back-btn"%>
</div>
