<div id="<%= dom_id course %>">
<<<<<<< HEAD
=======
<br></br>
<div class = "newEntry" style = "text-align: left; width: 25%;">
  <p><b><center>SHOWING THIS COURSE</center></b></p>
  <br></br>
>>>>>>> 3d282af (changed the frontend colors and added an additional test case for user)
  <p>
    <strong>Name:</strong>
    <%= course.course_name %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= course.course_hours %>
  </p>
<<<<<<< HEAD

=======
  <br></br>
  <div style = "margin-left: auto; margin-right: auto; text-align: center;">
    <%= button_to "EDIT", edit_course_path(@course), method: :get, class: "show-btn", style: "margin-bottom: 10px; font-size: 12px;" %>
    <%= button_to "DELETE", @course, method: :delete, class: "show-btn", style: "font-size: 12px;" %>
  </div>
</div>
>>>>>>> 3d282af (changed the frontend colors and added an additional test case for user)
</div>
