<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
  <div class = "error">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class = "newEntry">
  <div>
    <%= form.label "Name: ", style: "display: block" %>
    <%= form.text_field :course_name, id: "text-field-vals"  %>
    <%= form.label "Example Format: CSCE222 ", style: "display: block" %>
  </div>
<br>
  <div>
    <%= form.label :hours, style: "display: block" %>
    <%= form.number_field :course_hours, id: "text-field-vals" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
</div>

<% end %>
