<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <%= render course %>
    <p>
      <%= link_to "Show this course", course %>
    </p>
  <% end %>
</div>

<<<<<<< HEAD
<%= link_to "New course", new_course_path %>
=======
<div class = "newRecord">
  <%= button_to "New Course", new_course_path, method: :get, class: "new-and-back-btn"%>
</div>
>>>>>>> 3d282af (changed the frontend colors and added an additional test case for user)
