<p class="notice"><%= notice %></p>
<div class="const">
  <h1>Courses</h1>
</div>

<div id="courses">
  <table>
  <tr>
    <th><strong>Name</strong></th>
    <th><strong>Hours</strong></th>
    <th></th>
  </tr>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_name %></td>
      <td><%= course.course_hours %></td>
      <td><%= button_to "SHOW", course, method: :get, class: "show-btn" %></td>
      <% end %>
    </tr>
  </table>
</div>

<div class = "newRecord">
  <%= button_to "New Course", new_course_path, method: :get, class: "new-and-back-btn"%>
</div>
