<%= form_with(model: exam) do |form| %>
  <% if exam.errors.any? %>
    <div class = "error">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
        <% exam.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "newEntry">
    <div>
      <%= form.label :exam_date, style: "display: block" %>
      <%= form.date_field :exam_date %>
    </div>
    <br>

    <div>
      <%= form.label :exam_grade, style: "display: block" %>
      <%= form.text_field :exam_grade %>
    </div>
    <br>

    <div>
      <%= form.label :grade_photo, style: "display: block" %>
      <%= form.file_field :avatars %>

      <form action="/exam_grade.png">
        <input type="file" id="exam_grade" name="exam_grade.png">
        <input type="submit">
      </form>
    </div>
    <br>

    <div>
      <%= form.label :course_id, id:'course_id', style: "display: block" %>
      <!--making course selection from a list of valid courses inputted into the course entity-->
      <%= form.collection_select :course_id, Course.order(:course_name), :id, :course_name, include_blank: false%>
    </div>
    <br>

      <%= form.label :user_id, style: "display: block" %>
      <%= form.text_field :user_id, value: user_info, :readonly => true %>
      <%# <%= form.collection_select :user_id, user_info, :id, :string, include_blank: false%>
      <%# <%= :user_id => user_info %>



  <div class="new-and-back-btn">
    <%= form.submit %>
  </div>
</div>
<% end %>
