<%= form_with(model: exam) do |form| %>
  <% if exam.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
        <% exam.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :exam_date, style: "display: block" %>
    <%= form.date_field :exam_date %>
  </div>

  <div>
    <%= form.label :exam_grade, style: "display: block" %>
    <%= form.text_field :exam_grade %>
  </div>

  <div>
    <%= form.label :course_id, style: "display: block" %>
    <!--making course selection from a list of valid courses inputted into the course entity-->
    <%= form.collection_select :course_id, Course.order(:course_name), :id, :course_name, include_blank: true%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
