<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag('application') %>

<h1>Exams</h1>

<div id="exams">
  <table>
    <tr>
      <th><strong>Course</strong></th>
      <th><strong>Exam Date</strong></th>
      <th><strong>Exam Grade</strong></th>
      <th></th>
    </tr>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.course.course_name %></td>
        <td><%= exam.exam_date.strftime("%m/%d/%y") %></td>
        <td><%= exam.exam_grade %></td>
        <td><%= button_to "SHOW", exam, method: :get, class: "show-btn" %></td>
        <% end %>
      </tr>
  </table>
</div>


<div class = "newRecord">
  <%= button_to "New exam", new_exam_path, method: :get, class: "new-and-back-btn"%>
</div>
