<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag('application') %>

<br></br>
<h1>Exams</h1>

<div id="exams">
<table>
  <tr>
    <th><strong>Date</strong></th>
    <th><strong>Grade</strong></th>
    <th><strong>Course</strong></th>
    <th></th>
  </tr>
  <% @exams.each do |exam| %>
    <tr>
      <td><%= exam.exam_date %></td>
      <td><%= exam.exam_grade %></td>
      <td><%= exam.course_id %></td>
      <td><%= button_to "SHOW", exam, method: :get, class: "show-btn" %></td>
      <% end %>
    </tr>
</table>

<div class = "newRecord">
  <%= button_to "New Exam", new_exam_path, method: :get, class: "new-and-back-btn"%>
</div>

