<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
</head>

<p style="notice"><%= notice %></p>

<div class="const">
  <h1>View Exam</h1>
</div>

<%= render @exam %>

<%# <%= image_tag @exam.file.representation(resize: "600x500") %>
<%# # rails_blob_path(@exam.file, disposition: :inline) %>

<%# <%= render @exam.user_id %>
<div class = "newRecord">
  <%= button_to "Back to Exams", exams_path, method: :get, class: "new-and-back-btn"%>
</div>
