<%= form_with(model: performance) do |form| %>
  <% if performance.errors.any? %>
  <div class = "error">
      <h2><%= pluralize(performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
        <% performance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class = "newEntry">
  <div>
    <%= form.label :performance_points, style: "display: block" %>
    <%= form.number_field :performance_points, id: "text-field-vals" %>
  </div>

  <div>
    <%= form.label :exam_id, style: "display: block" %>
    <%= form.collection_select :exam_id, Exam.order(:exam_date), :id, :exam_date, include_blank: false%>  
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.collection_select :user_id, User.order(:user_email), :id, :user_lname, include_blank: false%>
  </div>

  <div>
    <%= form.submit %>
  </div>
</div>
<% end %>
