<%= form_with(model: performance) do |form| %>
  <% if performance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
        <% performance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :performance_points, style: "display: block" %>
    <%= form.number_field :performance_points %>
  </div>

  <div>
    <%= form.label :exam_id, style: "display: block" %>
    <%= form.collection_select :exam_id, Exam.order(:id), :id, :id, include_blank: true %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%# <%= form.text_field :user_id %>
    <%= form.collection_select :user_id, User.order(:id), :id,  :id, include_blank: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
