<div>
    <%= link_to "Main Page", root_path %>
    <br>
    <%= link_to "User Page", users_path %>
    <br>
    <%= link_to "Alumni Tracker", alumnis_path %>
    <br>
    <%= link_to "Company Tracker", companies_path %>
    <br>
    <%= link_to "Exams", exams_path %>
    <br>
    <%= link_to "Courses", courses_path %>
    <br>
    <%= link_to "Performance Tracker", performances_path %>
    <br>
    
</div>