<div>
    <%= link_to "Main Page", root_path %>
    <br>
    <%= link_to "User Page", users_path %>
    <br>
    <%= link_to "Alumni Tracker", alumnis_path %>
    <br>
    <%= link_to "Budget Submission", budgets_path %>
    <br>
    <%= link_to "Exams", exams_path %>
    <br>
    <%= link_to "Performance Tracker", performances_path %>
    <br>
    <%= link_to "Points Tracker", points_path %>
</div>